# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# IDEs
.idea/
.vscode/

# Environment variables
.env
.env.*

# Databases
*.db
*.sqlite
*.sqlite3

# Logs
*.log

# Build files
build/
dist/
*.egg-info/

# OS files
.DS_Store
Thumbs.db

# Docker image archives
*.tar